@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
    --amarelo: #ffcc00; 
    --cinza: #cccccc;
}  
.estrelas input[type=radio]{
    display: none;
}      
.estrelas label i.opcao.fa:before{ 
    content: '\f005';  
    color: var(--amarelo);
}
.estrelas input[type=radio]:checked~label i.fa:before{
    color: var(--cinza);
}